
.content-formulaire-faq{
	width: 60%;
	height: 250px;
	margin-left: 15%;
	padding: 2.5%;

	border: solid 1px black;
}

.formulaire-faq > h4{
	position: relative;
	top: -71px;
	width: 25%;
	height: 25px;
	padding-top: 5px;

	border: solid 1px black;
 	background-color: #424558;

	text-align: center;
	color: white;
}
