
body{
	font-family: Roboto;
	font-size: 16px;
	color: #212121;
}

.div{
	position: relative;
	height: 72px;
	padding: 16px 0 8px 0;
}

.label{
	position: relative;
	line-height: 16px;
	font-size: 16px;
	font-weight: 400;
	display: block;
	color: lightgrey;
	margin: 0px;
	transform: translateY(24px);
}



.input{
	position: relative;
	font-family: Roboto;
	display: block;
	background: transparent;
	font-size: 16px;
	height: 32px;
	width: 25%;
	line-height: 16px;
	padding-left: 8px 0;
	border: none;
	-webkit-appearance: none;
	outline: none;
}

.premiere{
	width: 22%;
	margin-left: 3%;
}

.première:focus .label-premiere{
	color: blue;
}

.div::after{
	content: '';
	height: 2px;
	background-color: lightgrey;
	width: 25%;
	position: absolute;
	bottom: 30px;
	left: 0;
}

.active .label{
	transform: translateY(0);
	font-size: 12px;
	color: lightblue;
}
