
body{
    font-family: monospace;
    color: black;
    padding: 0px;
    margin: 0px;
}

.nav-menu{
    width: 90%;
    margin-left: 5%;
    background-color: #424558;
}

.ul-menu{
    padding: 0px;
    margin: 50px 0px 0px 0px;
}

.ul-menu::after{
    content: "";
    display: block;
    clear: both;
}

li{
    list-style-type: none;
}

nav > ul > li{
    float: left;
    position: relative;
}

.ul-menu > li > a{
    padding: 20px 100px;
    color: snow;
    border-right: solid 1px black;
}

.sous-menu{
    display: none;
}

.menu-li:hover{
    -webkit-animation-name: chgt-couleur;
    -webkit-animation-duration: 2.5s;
    -o-animation-name: chgt-couleur;
    -o-animation-duration: 2.5s;
    -moz-animation-name: chgt-couleur;
    -moz-animation-duration: 2.5s;
}
@-webkit-keyframes chgt-couleur{
    from {backgroundcolor: #424558;}
    to {background-color: rgb(110, 110, 110);}
}
@-o-keyframes chgt-couleur{
    from {backgroundcolor: #424558;}
    to {background-color:rgb(110, 110, 110);}
}
@-moz-keyframes chgt-couleur{
    from {backgroundcolor: #424558;}
    to {background-color: rgb(110, 110, 110);}
}
@keyframes chgt-couleur{
    from {backgroundcolor: #424558;}
    to {background-color: rgb(110, 110, 110);}
}


.menu-li:hover .sous-menu{
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
    background-color: rgb(110, 110, 110);
}

.menu-li:hover > a{
    color: black;
}

.sous-menu li{
    border-bottom: solid 1px black;
}

.sous-menu li .lien{
    padding: 15px 100px;
}

.lien{
    display: inline-block;
    color: rgb(75, 75, 75);
    text-decoration: none;
    text-transform: uppercase;
}

/*la barre de recherche*/

.div-menu-recherche{
    position: relative;
    overflow: hidden; 
    
}

.menu-recherche{
    
    border: solid rgb(75, 75, 75) 2px;
    border-radius: 7%;
    margin: 15px 80px;
    padding: 5px;
    background-color: snow;
    box-shadow: none;
}
